{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OurFootballSite</title>
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
        
    </head>

    <body>
        <header>
            <div id="MySideNav" class="sidenav">
                <a class="navbar" href="{% url 'home-site' %}">Accueil</a>
                <a class="navbar" href="{% url 'about-site' %}">Nous connaître</a>
                <a class="navbar" href="{% url 'project-site' %}">Notre projet</a>
                <a class="navbar" href="{% url 'contact-site' %}">Nous contacter</a>
                <a class="navbar" href="{% url 'login' %}">Se connecter</a>
            </div>

        </header>
        
        {% block content %}{% endblock %}

    </body>
</html>